<!DOCTYPE html>
<html>
  <head>
    <title>Ticketer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= yield :head %>
  </head>

  <body>
    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
